body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
  color: blue;
  background-image: url('../src/images/background-image\ copy.jpg');
  font-weight: bold;
  font-size: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header, footer {
  background-color: #93979A;
}

header {
  display: flex;
}

.contact-section, .resume-container {
  background-color: #BABDBE;
}

footer {
  bottom: 0;
  width: 100%;
  height: 100px;
  position: fixed;
}

li {
  list-style: none;
}

.cards {
  font-size: 20px;
}